<div class="container">
  <div class="about">
    <h2>About</h2>
    <p>The purpose of this project is to cretate a Github search engine Angular app.</p>
    <p>Users should be able to search Github usernames and find the corresponding Github users info.</p>
  </div>

  <div class="row">

    <div class="col-4">
      <h5>Github avatar</h5>
      <img src="https://avatars3.githubusercontent.com/u/49680448?s=460&v=4" alt="github-image" width="220"
        height="200">
    </div>

    <div class="col-4">
      <h5>About me</h5>
      <p>Hi, (・ε・)ノ I'm Philip.</p>
      <p>I'm and aspiring web developer.</p>
      <p>Coding is proving to be more challenging than I anticipated but then nothing comes easy (;-_-)/</p>
    </div>

    <div class="col-4">
      <h4>My repos</h4>
      <ol>
        <li><a href="https://github.com/philipkariuki/quotes-angular" target="_blank">Angular quotes</a></li>
        <li><a href="https://github.com/philipkariuki/Goals" target="_blank">Goals</a></li>
        <li><a href="https://github.com/philipkariuki/pigdice" target="_blank">Pig sice</a></li>
        <li><a href="https://github.com/philipkariuki/delani-studio" target="_blank">Delani Studio</a></li>
        <li><a href="https://github.com/philipkariuki/Trianngle-tracker" target="_blank">Triangle tracker</a></li>
        <li><a href="https://github.com/philipkariuki/mp18wk1" target="_blank">My portfolio</a></li>

      </ol>
    </div>


  </div>

</div>
